.popup-gallery img{
    width: 200px;
    height: 200px;
    transition: transform .2s;
    border-radius: 3%;
    padding: 5px;
    border:1px solid #021a40;
}




.popup-gallery img:hover {
  transform: scale(1.2); 
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}

.popup-gallery{
    height: 50vh;
    overflow: scroll;
    padding-left: 4vw;
}
