.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: 0.4s ease-in-out left;
    -moz-transition: 0.4s ease-in-out left;
    -o-transition: 0.4s ease-in-out left;
    transition: 0.4s ease-in-out left;
}

.img-gallery{
    background-color: antiquewhite;
    padding-bottom: 10vh;
}
#img-gal{
   
   
  padding: 15px;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.28);
  background-color: wheat;

}