@media (max-width: 991px) {
  .nav-tabs > li {
    width: auto;
  }
  .mob-remove {
    display: none;
  }
  .video .carousel-control-prev {
    display: none;
  }
  .video .carousel-control-next {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }
}

@media (max-width: 767px) {
  .video {
    padding: 20px 0 100px 0;
  }
  .video h1 {
    font-size: 22px;
  }
  .video .description {
    margin: 10px 0 0 0;
  }
  .video .carousel-control-prev,
  .video .carousel-control-next {
    display: none;
  }
  .video .carousel-indicators li {
    margin-left: 10px;
    margin-right: 10px;
  }
  .popup-gallery {
    height: 50vh;
    overflow: scroll;
  }
  .mob-about-link {
    align-items: center;
    justify-content: center;

    text-align: center;
  }
  .mob-about-link li {
    padding-left: 4vw;
  }
  .mob-hide {
    display: none;
  }
  #home-carousel {
    padding-top: 10vh;
  }
}
